<div class="row">
    
    <h1> Formación Académica </h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaformacionacademica" *ngIf="isLogged">
            Nueva formación
        </button>
    </div>

<div class="col-lg-1"></div>
    <div class=" col-lg-11 "  >
        <table class="table">
            <tbody>
                <tr *ngFor="let FormacionAcademica of formacionAcademica">
                    <td><h4>{{FormacionAcademica.nombreFA}}</h4></td>
                    <td><h5>{{FormacionAcademica.descripcionFA}}</h5></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editformacionacademica/{{FormacionAcademica.id}}">
                        <i class="bi bi-pencil-square"></i>EDITAR</button>
                    </td>
                
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" (click)="borrar(FormacionAcademica.id)">
                        <i class="bi bi-eraser"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    
</div>
