<div class="row">
    
    <h1> Experencia laboral. </h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva experiencia
        </button>
    </div>

<div class="col-lg-1"></div>
    <div class=" col-lg-11 "  >
        <table class="table">
            <tbody>
                <tr *ngFor="let ExperienciaLaboral of experiencia">
                    <td><h3>{{ExperienciaLaboral.nombreExp}}</h3></td>
                    <td><h4>{{ExperienciaLaboral.descripcionExp}}</h4></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexperiencia/{{ExperienciaLaboral.id}}">
                        <i class="bi bi-pencil-square"></i>EDITAR</button>
                    </td>
                
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" (click)="borrar(ExperienciaLaboral.id)">
                        <i class="bi bi-eraser"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    
</div>

