<div class="container" *ngIf="formacionAcademica">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp"> Nombre del instituto</label>
                    <input type="text" class="form-control" id="nombreFA" name="nombreFA" [(ngModel)]="formacionAcademica.nombreFA" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp"> Descripcion</label>
                    <input type="text" class="form-control" id="descripcionFA" name="descripcionFA" [(ngModel)]="formacionAcademica.descripcionFA" required>
                </div>
                <button class="btn btn-dark">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>
