<div class="row">
    <h1>Hard & Soft skills.</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress    
            [backgroundColor]="'#7D7D7E'"
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [titleFontSize]="'30px'"
            [showUnits]="false"
            [maxPercent]="100"
            [unitsColor]= "'#483500'"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'white'" 
            [innerStrokeColor]="'#78C000'"
            [titleColor]="'white'" 
            [subtitleColor]="'483500'"
            [showSubtitle]="false"
            [showInnerStroke]="false" 
            [startFromZero]="true"
            [animation]= "true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [backgroundColor]="'#7D7D7E'"
            [percent]="65"
            [radius]="100"
            [title]="'INGLÉS'"
            [titleFontSize]="'30px'"
            [showUnits]="false"
            [maxPercent]="100"
            [unitsColor]= "'#483500'"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'white'" 
            [innerStrokeColor]="'#78C000'"
            [titleColor]="'white'" 
            [subtitleColor]="'483500'"
            [showSubtitle]="false"
            [showInnerStroke]="false" 
            [startFromZero]="true"
            [animation]= "true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [backgroundColor]="'#7D7D7E'"
            [percent]="20"
            [radius]="100"
            [title]="'PROGRAMACIÓN'"
            [titleFontSize]="'20px'"
            [showUnits]="false"
            [maxPercent]="100"
            [unitsColor]= "'#483500'"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'white'" 
            [innerStrokeColor]="'#78C000'"
            [titleColor]="'white'" 
            [subtitleColor]="'483500'"
            [showSubtitle]="false"
            [showInnerStroke]="false" 
            [startFromZero]="true"
            [animation]= "true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [backgroundColor]="'#7D7D7E'"
            [percent]="75"
            [radius]="100"
            [title]="'LIDERAZGO'"
            [titleFontSize]="'20px'"
            [showUnits]="false"
            [maxPercent]="100"
            [unitsColor]= "'#483500'"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'white'" 
            [innerStrokeColor]="'#78C000'"
            [titleColor]="'white'" 
            [subtitleColor]="'483500'"
            [showSubtitle]="false"
            [showInnerStroke]="false" 
            [startFromZero]="true"
            [animation]= "true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [backgroundColor]="'#7D7D7E'"
            [percent]="80"
            [radius]="100"
            [title]="'TRABAJO EN EQUIPO'"
            [titleFontSize]="'20px'"
            [showUnits]="false"
            [maxPercent]="100"
            [unitsColor]= "'#483500'"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'white'" 
            [innerStrokeColor]="'#78C000'"
            [titleColor]="'white'" 
            [subtitleColor]="'483500'"
            [showSubtitle]="false"
            [showInnerStroke]="false" 
            [startFromZero]="true"
            [animation]= "true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [backgroundColor]="'#7D7D7E'"
            [percent]="85"
            [radius]="100"
            [title]="'CREATIVIDAD'"
            [titleFontSize]="'20px'"
            [showUnits]="false"
            [maxPercent]="100"
            [unitsColor]= "'#483500'"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'white'" 
            [innerStrokeColor]="'#78C000'"
            [titleColor]="'white'" 
            [subtitleColor]="'483500'"
            [showSubtitle]="false"
            [showInnerStroke]="false" 
            [startFromZero]="true"
            [animation]= "true"
            [animationDuration]="600"        
        ></circle-progress>
    </div>
</div>
